.loader{
    background: rgb(127 122 122 / 80%);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.loader img{
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}
